@import "../../common/styles/positioning";

.MenuInnerWrapper {
  @include FlexHorCenter;
  @include GlobalPadding;
  @include PaddingRight(2);

  justify-content: space-between;
}

.ScrollPreserver {
  position: fixed;
  right: 0;
  top: 0;
  height: 64px;
  width: 10px;
  background-color: #3f51b5;
}