@import "../../common/styles/positioning";

.Header {
  @include FlexHorCenter;
}

.Row {
  display: flex;
  align-items: center;
  width: 100%;

  &:not(:first-of-type) {
    @include MarginTop(2);
  }
}

.Item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 100px;

  &:not(:last-of-type) {
    @include MarginRight(2);
  }
}

.DayTitle {
  font-weight: 700;
}

.Page {
  @include GlobalPadding;
}