@import "../../common/styles/positioning";

.FeedDetailsPage {
  @include GlobalPadding;
  @include FlexVertCenter;
  @include MarginTop(4);
}

.FeedDetailsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.FeedDetailsList::after {
  content: "";
  flex: 0 32%;
}