@import "../../../../../../common/styles/positioning";

.AddNewFeedDetailsItemBlock {
  @include FlexHorCenter;
  justify-content: center;
}

.FeedDetailsAvailableList {
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}

.ListWithSearch {
  @include FlexVertCenter;
}

.SearchFieldWrapper {
  width: 100%;
}