@import "../../../../../../common/styles/positioning";

.AddNewFeedDetailsItemBlock {
  @include FlexHorCenter;
  justify-content: center;
}

.FeedDetailsAvailableList {
  max-height: 250px;
  overflow-y: auto;
}