@import "../../../../common/styles/positioning";

.PopupTitleWrapper {
  @include FlexHorCenter;

  justify-content: space-between;
  min-width: 500px;
}

.AddNewFeedFetailsItemBlock {
  @include FlexHorCenter;
  justify-content: center;
}

.FeedDetailsAvailableList {
  max-height: 300px;
}