@import "./constants";

@mixin FlexHorCenter {
  display: flex;
  align-items: center;
}

@mixin FlexHorCenterVertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin MarginRight($value) {
  margin-right: $value * $cell;
}

@mixin MarginBottom($value) {
  margin-bottom: $value * $cell;
}

@mixin MarginTop($value) {
  margin-top: $value * $cell;
}

@mixin MarginLeft($value) {
  margin-left: $value * $cell;
}

@mixin PaddingRight($value) {
  padding-right: $value * $cell;
}

@mixin PaddingBottom($value) {
  padding-bottom: $value * $cell;
}

@mixin PaddingTop($value) {
  padding-top: $value * $cell;
}

@mixin PaddingLeft($value) {
  padding-left: $value * $cell;
}

@mixin GlobalPadding {
  padding-left: 100px !important;
  padding-right: 100px !important;
}